*{
  margin: 0; padding: 0;
}
.container{}
.title{
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding: 25px 0;
  line-height: 30px;
  background-color: lightblue;
}
.user_list{
  width: 30%;
  height: 30vh;
  background-color: pink;

}
.user_list h2{
  text-align: center;
  padding: 10px 0;
}